services:
  app:
    build: .
    container_name: football_events_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    working_dir: /app

  worker:
    build: .
    container_name: football_events_worker
    command: php bin/worker.php
    volumes:
      - .:/app
    working_dir: /app
    depends_on:
      - redis
    profiles: [ 'worker' ]

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
    command: >
      redis-server
      --save 60 1
      --appendonly yes
      --appendfsync everysec
